{
  "id": 801934,
  "title": "Lord of War",
  "duration": 122,
  "director": "Andrew Niccol",
  "producer": "Lions Gate Films",
  "synopsis": "Based on fact, LORD OF WAR is..."
  "ratings_url": "http://my-awesome-movies.com/api/v1/movies/801934/ratings",
  "cast_url": "http://my-awesome-movies.com/api/v1/movies/801934/cast",
  "awards_url": "http://my-awesome-movies.com/api/v1/movies/801934/awards",
}
